In python there are four types of integer datatype
1. Decimal (base 10) - default base
2. Binary (base 2) :- starts with 0 followed by 'b' or 'B' and then 0 to 1
3. Octal (base 8) :- starts with 0 followed by 'o' or 'O' and then 0 to 7
4. Hexadecimal (base 16) :- starts with 0 followed by 'x' or 'X' and then 0 to 9 and 9 onwards A - F for (10 - 15)

The conversions can be made by the following way:
- Binary() :- starts from 2^0 from the right side. going from right to left increase power by 1.
\
exa:- 1010 (0 mul 2^0 + 1 mul 2^1 + 0 mul 2^2 + 1 mul 2^3)
- Octal :- starts from 8^0 from the right side. going from right to left increase power by 1.
\
exa:- 1567 (7 mul 8^0 + 6 mul 8^1 + 5 mul 8^2 + 1 mul 8^3)
- Hexadecimal :- starts from 16^0 from the right side. going from right to left increase power by 1.
\
exa:- AB8F (15 mul 16^0 + 8 mul 16^1 + 11 mul 16^2 + 10 mul 16^3)

In [9]:
0b10101 # Binary 
0o1436 # Octal
0xA6BE # Hexadecimal

42686

To convert from one int data type to another we use special functions like-
- bin() to convert from anything to binary
- oct() to convert anything to octal
- hex() to convert anything to hexadecimal

In [1]:
bin(15)

'0b1111'

In [2]:
oct(15)

'0o17'

In [3]:
bin(0o1110)

'0b1001001000'

In [4]:
bin(0x1234)

'0b1001000110100'

In [10]:
hex(16789)

'0x4195'

In [11]:
5*1+9*16+1*256+4*256*16

16789

In [3]:
type(1.2e3)

float

In [4]:
type(10+2j)

complex

In [2]:
int("10")

10

In [10]:
int("10.5")

ValueError: invalid literal for int() with base 10: '10.5'

In [9]:
float("tne")

ValueError: could not convert string to float: 'tne'

In [16]:
complex(10, 20)

(10+20j)

In [15]:
complex("10.4", "20")

TypeError: complex() can't take second arg if first is a string

In [14]:
complex("ten")

ValueError: complex() arg is a malformed string

In [17]:
bool("")

False

In [18]:
bool("abc")

True

## Fundamental Datatypes in Python


- int
- float
- bool
- complex
- str
\
This data types are immutable in nature.

In Python, if we create x = 10, and the again create x = 11. The two new variables are stored on two new memory locations.
\
But if we create x = 10, and y = 10. Both the variables pointing to same values so the memory location will be same.
\
**This is called immutablity**

In short python dose not create multiple objects if the values for all that objects is same.
\
Python will create multiple references pointing to that object, but object will only 1.
\
The advantage of using this approch is memory utilization and performance improvement.

Immutability concept is importance bcoz if mutiple variables are referencing to a single object, then after changing any of the refernce the old object value will be replaced to all the references.
\
Instead of this if we want to change any variable value, then new object will be created for that variable and all the other variables will point to the old object.

In [8]:
x = 10
y = 10
print(id(x))
print(id(y))
print(x is y) # is operator can be used to check whether x & y are poiniting to the same object instead of using id()

140726791803976
140726791803976
True

**Creation of new object will require many more time and performance than searching for that object.**

In [6]:
x = 13
y = 10
print(id(x))
print(id(y))
print(x is y)

140726791804072
140726791803976
False

In [9]:
x = 256
y = 256
print(x is y)

True

In [11]:
x = 257
y = 257
print(x is y) # Here x is y = False bcoz the range of int values is (0 to 256). After 256 a new object will be created
print(id(x))
print(id(y))

False
1824099485200
1824099484496

**The above concept of using same object for multiple reference is not valid in datatypes like float, complex. It is applicable for Int, str, Bool datatypes only. Always a new object will be created for this data types**

In [2]:
x = 10.0
y = 10.0
print(x is y)

a = 10+2j
b = 10+2j
print(a is b)

False
False

**Why int has range (0 to 256) only?**

1) Because the most of the times general int values ranges from 0 to 256.
2) And at the time of python interpreter starts, all the objects from 0 to 256 gets created.
3) If lets suppose the range of int becomes 0 to 1 cr. then python has to create 1cr objects at that time of start and it will not be possible hence the range is fixed.

Same is the case with bool & str because for bool only 2 objects python as to create. and for str the same letters or words will be used multiple times in the program hence reusability concept is there for this datatypes.

**Float & Complex**

For float datatype, between 0 to 1 there are infinite no of float values like 0.1, 0.01, 0.10, 0.101 etc. SO it's not feasible to define frequently used numbers. and same is the case with complex datatypes.
\
Hence reusability concept is not available for float and complex.
\
But immutability concept is applied to this datatypes because to generalise the concepts for all built in datatypes in python.

## Bytes Data type

Bytes datatype is a group of byte numbers like an array ranging fron (0 to 256)

In [3]:
x = [10, 33, 86, 37]
b = bytes(x)
print(type(x))
print(type(b))

<class 'list'>
<class 'bytes'>

Bytes datatype are immutable in nature. We cannot edit any item assignment.

In [9]:
b[1] = 12

TypeError: 'bytes' object does not support item assignment

ByteArray is mutable datatype and other properties are same as of Bytes datatype.

In [11]:
x = [12,135,255,32]
b = bytearray(x)
type(b)

bytearray

In [15]:
b[0] = 1
[x for x in b]

[1, 135, 255, 32]

## List Data type

When we want to used group of numberes where insertion order of numbers is preserved and duplicate numbers are allowed, at that time we can use list data type.
- Insertion order should be preserved
- duplicates are allowed
- heterogenuous objects
- growable

In [16]:
l = []
l.append(10)
l.append('durga')
l.append(None)
l.append(20)
l.append(10)
l

[10, 'durga', None, 20, 10]

## Range

- Range data type represent a sequence of values
- immutable

In [5]:
r = range(10) # The range gives sequence of values fro  0 to 9. end -1 
type(r)
[x for x in r]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
s = (1,6,9)
type(s)

tuple